.sidebar {
  display: flex;
  flex-direction: column;
  border: 1px solid $c-black;
  width: 40%;
  min-width: 20rem;
  height: 100%;
  overflow: auto;

  &__heading {
    background: $c-black;
    color: $c-orange;
    text-align: center;
    padding: 0.5rem;

  }

  &__img__switcher {
    display: flex;
    justify-content: space-between;
    border: 0.1rem solid $c-black;
  }

  &__frame {
    position: relative;

  }

  &__img {
    position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // object-fit: contain;

  }

  &__btn {
    background: $c-orange;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    padding: 0.5rem;
    border: 0;
    font-family: inherit;
  }

  &__submit {
    padding: 1rem;
    background: $c-black;
    color: $c-orange;
    font-family: inherit;
    border: 0;
  }

}
